---
import Layout from '@layouts/Layout.astro';
// import Background from '@components/Background.astro';
import { getI18N } from '@i18n/index';

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale });
---

<Layout title="404" description={i18n.SEO_DESCRIPTION}>
  <!-- <Background class="background-404" /> -->
  <main class="flex items-center justify-center h-screen">
    <article class="card bg-base-200 ring-1 ring-gray-800/10 dark:ring-gray-200/5 w-96 m-4">
      <div class="card-body text-center p-4">
        <h1 class="text-4xl font-bold mt-4">404</h1>
        <p>{i18n.ERROR_404_DESCRIPTION}</p>
        <a class="btn btn-link mt-8" href={currentLocale === 'es' ? `${import.meta.env.BASE_URL}/` : `${import.meta.env.BASE_URL}/en`}>{i18n.ERROR_404_ACTION}</a>
      </div>
    </article>
  </main>
</Layout>
